# Aprendizado Supervisionado - Linear Regression

## 1.0 Import libraries

In [33]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn import metrics as mt

## 2.0 Load dataset

In [34]:
df = pd.read_csv('../datasets/train.csv')

## 3.0 Data preparation

In [35]:
df.head()

,id_cliente,idade,saldo_atual,divida_atual,renda_anual,valor_em_investimentos,taxa_utilizacao_credito,num_emprestimos,num_contas_bancarias,num_cartoes_credito,dias_atraso_dt_venc,num_pgtos_atrasados,num_consultas_credito,taxa_juros,investe_exterior,pessoa_polit_exp,limite_adicional
0,1767,21,278.172008,2577.05,24196.89636,104.306544,31.038763,6,5,7,21,14,9,15,Não,Não,Negar
1,11920,40,268.874152,2465.39,19227.37796,69.858778,36.917093,5,8,5,40,23,10,18,Não,Não,Negar
2,8910,36,446.643127,1055.29,42822.28223,134.201478,34.561714,0,3,6,26,13,3,15,Sim,Não,Negar
3,4964,58,321.141267,703.05,51786.82600,297.350067,31.493561,0,3,7,12,7,2,1,Sim,Não,Negar
4,10100,35,428.716114,891.29,44626.85346,134.201478,28.028887,2,8,7,24,10,8,20,Sim,Não,Negar

In [36]:
df.columns

Index(['id_cliente', 'idade', 'saldo_atual', 'divida_atual', 'renda_anual',
       'valor_em_investimentos', 'taxa_utilizacao_credito', 'num_emprestimos',
       'num_contas_bancarias', 'num_cartoes_credito', 'dias_atraso_dt_venc',
       'num_pgtos_atrasados', 'num_consultas_credito', 'taxa_juros',
       'investe_exterior', 'pessoa_polit_exp', 'limite_adicional'],
      dtype='object')

In [37]:
features = ['idade', 'divida_atual', 'renda_anual', 'valor_em_investimentos',
            'taxa_utilizacao_credito', 'num_emprestimos',
            'num_contas_bancarias', 'num_cartoes_credito',
            'dias_atraso_dt_venc', 'num_pgtos_atrasados',
            'num_consultas_credito', 'taxa_juros']
label = ['saldo_atual']

In [38]:
x_train = df.loc[:, features]
y_train = df.loc[:, label]

## 4.0 Model training

### 4.1 Usando o scikit-learn

In [39]:
# model definition
lr_model = LinearRegression()

# model fit (ajuste e treinamento)
lr_model.fit(x_train, y_train)

# previsao
y_pred = lr_model.predict(x_train)

In [40]:
df1 = df.loc[:, ['id_cliente', 'saldo_atual']]
df1['predicted'] = y_pred
df1.head()

   id_cliente  saldo_atual   predicted
0        1767   278.172008  346.669549
1       11920   268.874152  367.840277
2        8910   446.643127  431.468979
3        4964   321.141267  445.506463
4       10100   428.716114  378.271169

### 4.2 Calculando na mão

In [41]:
lr_model.coef_

array([[ 3.96706202e-04, -4.00595601e-02,  2.77622532e-06,
        -1.04318668e-03,  9.80890872e+00, -1.22353405e-02,
        -6.33015538e-03, -3.57808095e-03, -2.15858165e+00,
         3.77570060e-04,  6.79176336e-03,  3.48471845e-03]])

In [42]:
np.sum((x_train.loc[0,].values * lr_model.coef_)) + lr_model.intercept_

array([346.66954862])

## 5.0 Performance

### 5.1 Medindo a performance com R²

In [43]:
mt.r2_score(y_train, y_pred)

0.16917364489050024

### 5.2 Medindo a performance com MSE

In [44]:
mse = np.round(mt.mean_squared_error(y_train, y_pred), 2)

mse

np.float64(39370.27)